{% extends "::base.html.twig" %}

{% block body %}
<h1>BikeCalculator</h1>
    {% if not is_granted('ROLE_USER') %}
        <a href="{{ path('fos_user_security_login') }}"><button>Login</button></a>
        <a href="{{ path('fos_user_registration_register') }}"><button>Register</button></a>
    {% endif %}

    <a href=" {{ path('app_chain_calculate') }}"><div>Chain length Calculator</div></a>

    <a href=" {{ path('app_wheel_calculate') }}"><div>Spoke length Calculator</div></a>
{% endblock %}
