{% extends "::base.html.twig" %}

{% block body %}
    <img style="float: right" src="{{ asset('images/hub.jpg') }}">
    <div class="input-group input-group-lg">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Calculate">
        {{ form_end(form) }}
    </div>
{% endblock %}
